@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600&family=Permanent+Marker&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Montserrat", sans-serif;
  background-color: black;
}

::-webkit-scrollbar {
  background-color: black;
  width: 0.4vw;
}

::-webkit-scrollbar-thumb {
  background: #ffc107;
}

.show {
  opacity: 1 !important;
  visibility: visible !important;
  right: 0 !important;
}
